<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="keyFile" value="key.txt" />
    <add key="samReaderName" value="OMNIKEY CardMan 6121" />
    <add key="csvFile" value="c:\\cnousApi\\csv_out.csv" />
  </appSettings>
</configuration>
